@import 'mixins';
#back {
    position: absolute;
    background: rgb(179, 26, 26);
    border-radius: 10px;
    @include defaultBorder(2px, black);
    width: 100px;
    height: 40px;
    top: 150px;
    left: 100px;
    text-align: center;
    font-size: 30px;
    color:whitesmoke;
    padding:10px;
  }
  .backHidden {
    display: none;
  }
  