@import 'variables';
@import 'mixins';

.gameSpot {
    // width: calc(100% - #{$menuWidth});
    width:$gameSpotWidth;
    margin-right: $defaultMargin;
    height:auto;
    min-height: 500px;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    position:relative;
    color:var(--gameFontColor);
}
.gameHeader {
    font-size: $gameHeaderFontSize;
    p {
        @extend %defaultPCentering;
    }
}

.gameResponse {
    font-size: $gameResponseFontSize;
    text-align: center;
    margin:$defaultMargin;
}
#greeting {
    display:flex;
    align-items: center;
    font-size: 50px;
    position: absolute;
    left: 15%;
    top: 50%;
    color: var(--greetingColor);
}