@import 'variables';

#menu{
    width: $menuWidth;
    margin:0 10px;
    box-sizing: border-box;
    color:var(--menuFontColor);
    min-height: 100px;
    max-height: 300px;
    @include defaultBorder(2px, var(--menuBorder));
    div {
        background: var(--menuHeaderColor);
        display:flex;
        justify-content: center;
        align-content: center;
        box-shadow: 0px 3px 5px -1px var(--defaultShadow);
        border-bottom: 1px solid var(--menuDivBorderBottom);
        transform: translate(0px, -1px);
        p {
            margin:5px;
            font-size:20px;
        }
    }
    li {
        padding:5px;
        text-transform:uppercase;
        &:hover{
            background: var(--liHover);
            transition: $transitionTime;
        }
    }
}
[hidden='true']{
    display:none;
}