.menu{
    width:250px;
    // height:auto;
    margin-left:10px;
    min-height: 300px;
    @include defaultBorder(2px, rgb(82, 86, 145));
    div {
        background: rgb(165, 90, 94);
        display:flex;
        justify-content: center;
        align-content: center;
        box-shadow: 0px 3px 5px -1px black;
        border-bottom: 1px solid rgb(59, 57, 57);
        transform: translate(0px, -1px);
        p {
            margin:5px;
            font-size:20px;
        }
    }
    li {
        // display:flex;
        // align-content: center;
        // justify-content: center;
        // text-align: center;
        padding:5px;
        text-transform:uppercase;
        &:hover{
            background: wheat;
            transition: $transitionTime;
        }
    }
}