@import 'variables';

.switcher {
    background: var(--switcherColor);
    width: 50px;
    height: 50px;
    position: fixed;
    top: $switcherTopPos;
    right: $switcherRightPos;
    border-radius: 50%;
    color: var(--switcherFontColor);
    &:hover {
      background: var(--switcherHoverColor);
      transition: $transitionTime;
    }
    display:flex;
    justify-content: center;
    align-items:center;
    i {
      font-size:30px;
    }
  }
  